.skipNav {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 9999;
}

.skipNav a {
    position: absolute;
    top: -9999em;
    display: block;
    width: 100%;
    height: 30px;
    background: #0c9a6a;
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}

.skipNav a:focus,
.skipNav a:active {
    top: 0;
}

.btn {
    display: inline-block;
    min-width: 100px;
    height: 40px;
    padding: 0 10px;
    background-color: #fff;
    border: 1px solid #0c9a6a;
    line-height: 38px;
    font-size: 14px;
    color: #0c9a6a;
    text-align: center;
    font-weight: 500;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.btn.primary {
    background: #0c9a6a;
    color: #fff;
}

.btn:link,
.btn:visited {
    color: #0c9a6a;
}

.btnBox {
    padding: 0 20px;
    margin: 10px 0 5px;
    text-align: center;
}

.btnBox.full {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.btnBox.full .btn {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.btnBox .btn+.btn {
    margin-left: 5px;
}

.tar {
    text-align: right;
}

.ipBox {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background: #fff;
    border: 1px solid #dbdbdb;
    font-size: 14px;
    color: #222;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.selBox {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background: #fff url(../images/ico/ico_selArr.png) no-repeat right 9px center/11px auto;
    border: 1px solid #dbdbdb;
    font-size: 14px;
    color: #a7a7a7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.radBox,
.chkBox {
    position: relative;
}

.radBox label,
.chkBox label {
    position: relative;
    display: inline-block;
    min-height: 20px;
    padding-left: 26px;
    font-size: 14px;
    color: #222;
    font-weight: 500;
    line-height: 1.4;
}

.radBox label:before,
.radBox label:after,
.chkBox label:before,
.chkBox label:after {
    content: "";
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.radBox label:before,
.chkBox label:before {
    left: 0;
    top: 0;
    display: block;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #dbdbdb;
}

.radBox input,
.chkBox input {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.radBox input:checked+label:before,
.chkBox input:checked+label:before {
    border-color: #0c9a6a;
}

.radBox {
    position: relative;
}

.radBox label:before,
.radBox label:after {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.radBox input:checked+label:after {
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    background: #0c9a6a;
}

.chkBox input:checked+label:before {
    background: #fff url(../images/ico/ico_chkBox.png) no-repeat center/11px auto;
}

.radList {
    margin-bottom: 20px;
}

.radList li+li {
    margin-top: 20px;
}

.fGrp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.fGrp>* {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.fGrp .selW {
    padding-right: 10px;
}

.formBox {
    padding: 0 20px;
    margin: 10px 0;
}

.formBox .txt {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #222;
    white-space: nowrap;
}

.formBox .mixBox+.fItem,
.formBox .fItem+.fItem {
    margin-top: 10px;
}

.formBox .mixBox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.formBox .mixBox .ipW {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.formBox .mixBox .btn {
    margin-left: 10px;
}

.formBox .btnW {
    margin-top: 10px;
    text-align: center;
}

.formBox .termWeight {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.formBox .termWeight .ipW+.txt {
    margin-left: 2px;
}

.formBox .termWeight .txt+.ipW {
    margin-left: 10px;
}

.formBox .termWeight .btn {
    margin-left: 10px;
}

.formBox .bodySize {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.formBox .bodySize .ipW+.txt {
    margin-left: 15px;
}

.formBox .bodySize .txt+.ipW {
    margin-left: 5px;
}

.fItem {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.fItem dt {
    margin-right: 10px;
    color: #1a1a1a;
    line-height: 40px;
    font-size: 14px;
    white-space: nowrap;
}

.fItem dd {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.fItem .selW {
    width: 100%;
}

.fItem .selW+.selW {
    margin-left: 5px;
}

.userInfoBox {
    padding: 16px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.userInfoBox .fGrp {
    margin: 15px 0;
}

.userInfoBox dd .fGrp {
    margin: 10px 0;
}

.userInfoBox .mixBox .fItem {
    padding-right: 15px;
    margin-top: 0;
}

.userInfoBox .mixBox .fItem:last-child {
    padding-right: 0;
}

.userInfoBox .btn {
    width: 150px;
}

.userInfoBox .radBox label,
.userInfoBox .chkBox label {
    color: #a7a7a7;
    font-weight: 300;
}

.choiceBtnList {
    overflow: hidden;
}

.choiceBtnList li {
    float: left;
    width: -webkit-calc((100% - 15px) / 4);
    width: -moz-calc((100% - 15px) / 4);
    width: calc((100% - 15px) / 4);
    margin-right: 5px;
}

.choiceBtnList li:nth-child(4n) {
    margin-right: 0;
}

.choiceBtnList li:nth-child(4)~li {
    margin-top: 5px;
}

.choiceBtnList button {
    display: block;
    width: 100%;
    height: 40px;
    background: #fff;
    border: 1px solid #0c9a6a;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #0c9a6a;
    text-align: center;
    font-size: 14px;
    line-height: 38px;
    font-weight: 500;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.choiceBtnList button.on {
    background: #0c9a6a;
    color: #fff;
}

.layerPopupW {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.layerPopup {
    position: absolute;
    left: 50%;
    top: 50%;
    background: #fff;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.msgBox {
    width: 280px;
    padding: 20px 30px 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.msgBox .tltW {
    position: relative;
    height: 38px;
    padding-bottom: 6px;
    border-bottom: 1px solid #ddd;
}

.msgBox .tltW h1 {
    font-size: 20px;
    color: #222;
    line-height: 38px;
}

.msgBox .tltW .popClose {
    position: absolute;
    right: 0;
    top: 12px;
    width: 24px;
    height: 24px;
    background: url(../images/btn/icon-close-24px.png) no-repeat center;
    font-size: 0;
    text-indent: -9999em;
}

.msgBox .msg {
    padding: 25px 0 22px;
    font-size: 14px;
    text-align: center;
    line-height: 1.6;
}

.msgBox .blue {
    color: #0000ff;
}

.msgBox .red {
    color: #Ff0000;
}

.toastMsg {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 350px;
    min-height: 20px;
    padding: 20px;
    background: #0c9a6a;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    font-weight: 500;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    height: 100%;
}

.chatWrap {
    position: relative;
    height: 100%;
    background: #eee;
}

/* chatHeader */
.chatHeader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 50px;
    padding: 0 15px;
    background: #fff;
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.chatHeader .point {
    padding-left: 30px;
    background: url(../images/ico/ico_point.png) no-repeat 0 center;
    -moz-background-size: 25px auto;
    background-size: 25px auto;
    line-height: 50px;
    font-size: 16px;
    color: #222;
    font-weight: 600;
}

.chatHeader .btnMenu {
    position: absolute;
    top: 13px;
    right: 7px;
    width: 33px;
    height: 25px;
    background: url(../images/btn/btn_menu.png) no-repeat center;
    -moz-background-size: 23px auto;
    background-size: 23px auto;
    text-indent: -9999em;
}

/* chatBottom */
.chatBottom {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 60px;
    background: #fff;
}

.chatMsgBox {
    position: relative;
    height: 30px;
    padding: 15px 15px 15px 50px;
}

.chatMsgBox .btnPhoto {
    position: absolute;
    left: 15px;
    top: 50%;
    width: 33px;
    height: 30px;
    background: url(../images/btn/btn_photo.png) no-repeat center;
    -moz-background-size: 23px auto;
    background-size: 23px auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-indent: -9999em;
}

.chatMsgF {
    position: relative;
    padding-right: 30px;
}

.chatMsgF .ipBox {
    width: 100%;
    height: 30px;
    padding: 0 5px;
    border: 0 none;
    line-height: 1.5;
    font-size: 14px;
    color: #222;
    font-weight: 500;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.chatMsgF .btnSend {
    position: absolute;
    right: 0;
    top: 50%;
    width: 25px;
    height: 25px;
    background: #0c9a6a url(../images/btn/btn_send.png) no-repeat center;
    -moz-background-size: 10px auto;
    background-size: 10px auto;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-indent: -9999em;
}

/* chatContents */
.chatContents {
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: 50px;
    right: 0;
    bottom: 60px;
    padding: 20px 0;
    -webkit-overflow-scrolling: touch;
}

.dateDivision {
    margin-bottom: 20px;
}

.dateDivision p {
    font-size: 12px;
    color: #999;
    font-weight: 500;
    text-align: center;
}

.chatBox,
.userMsg {
    margin-bottom: 5px;
}

.chatBox .box,
.userMsg .box {
    position: relative;
    display: inline-block;
    padding: 8px 10px;
    font-size: 14px;
    line-height: 20px;
}

.chatBox .box .msg,
.userMsg .box .msg {
    text-align: left;
}

.chatBox .time,
.userMsg .time {
    position: absolute;
    bottom: 5px;
    font-size: 10px;
    color: #bbb;
    line-height: 1;
}

.chatBox+.dateDivision,
.userMsg+.dateDivision {
    margin-top: 20px;
}

.chatBox .imgBox,
.userMsg .imgBox {
    position: relative;
    display: inline-block;
}

.chatBox .imgBox .img,
.userMsg .imgBox .img {
    overflow: hidden;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.chatBox .imgBox .img img,
.userMsg .imgBox .img img {
    height: 125px;
}

.userMsg {
    padding: 0 10px 0 65px;
    text-align: right;
}

.userMsg .box {
    background: #0c9a6a;
    -webkit-border-radius: 5px 0 5px 5px;
    -moz-border-radius: 5px 0 5px 5px;
    border-radius: 5px 0 5px 5px;
    color: #fff;
}

.userMsg .box:before {
    content: "";
    position: absolute;
    top: -4px;
    right: 0;
    display: block;
    border-style: solid;
    border-width: 2px 3px;
    border-color: transparent #0c9a6a #0c9a6a transparent;
}

.userMsg .time {
    left: -45px;
}

.userMsg+.chatBox {
    margin-top: 15px;
}

.chatBox {
    padding: 0 65px 0 20px;
    text-align: left;
}

.chatBox .box {
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #222;
}

.chatBox .time {
    right: -45px;
}

.chatBox+.userMsg {
    margin-top: 20px;
}

.noticeBox {
    padding-right: 20px;
}

.noticeBox .box {
    background: #cfe9e6;
}

.chatbotBox {
    height: 35px;
    padding-left: 10px;
    margin-top: 15px;
}

.chatbotBox .chatBot {
    padding-left: 39px;
    background: url(../images/ico/ico_chatbot.png) no-repeat;
    -moz-background-size: 35px auto;
    background-size: 35px auto;
    line-height: 35px;
    font-weight: 600;
}

.chatbotBox+.chatBox .box {
    -webkit-border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    border-radius: 0 5px 5px 5px;
}

.chatbotBox+.chatBox .box:before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    display: block;
    border-style: solid;
    border-width: 2px 3px;
    border-color: transparent transparent #fff #fff;
}

.targetImgBox {
    padding-left: 15px;
    margin-bottom: 15px;
}

.targetImgBox .img img {
    height: 87px;
}

.progressBox {
    padding: 0 20px;
    margin: 15px 0;
}

.progressBox .barW {
    overflow: hidden;
    height: 30px;
    background: #ddd;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.progressBox .bar {
    height: 100%;
    padding: 0 10px;
    background: #f07d0d;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-align: right;
    color: #fff;
    line-height: 30px;
    font-size: 14px;
    font-weight: 500;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.videoBox {
    position: relative;
    width: 250px;
}

.videoBox .vod {
    overflow: hidden;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.videoBox a {
    display: block;
}

.videoBox .video {
    overflow: hidden;
    height: 140px;
    background: #000;
}

.videoBox .video p {
    text-align: center;
    color: #fff;
    line-height: 140px;
}

.videoBox dl {
    padding: 10px 12px;
    line-height: 18px;
}

.videoBox dt {
    margin-bottom: 4px;
}

.videoBox dd {
    font-size: 12px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.videoBox .time {
    right: -45px;
}

.slideBox {
    padding: 0;
    margin-bottom: 15px;
}

.slideBox+.slideBox {
    margin-top: 30px;
}

.slideListW {
    padding: 0 10px 15px 20px;
}

.slideListW .swiper-pagination {
    position: absolute;
    left: 21px;
    bottom: 0;
    text-align: left;
}

.slideListW .swiper-pagination .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    margin: 0 2px;
    background: #ccc;
    opacity: 1;
}

.slideListW .swiper-pagination .swiper-pagination-bullet-active {
    background: #0c9a6a;
}

.slideList li {
    width: 130px;
    height: 100%;
}

.slideList a {
    overflow: hidden;
    display: block;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.slideList .img {
    overflow: hidden;
}

.slideList .img img {
    width: 100%;
}

.slideList .txt {
    padding: 8px 10px;
    font-size: 14px;
    line-height: 18px;
}

.slideList .txt p {
    height: 38px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* sub */
.wrap {
    position: relative;
    height: 100%;
    padding-top: 50px;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* hader */
.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 50px;
    padding: 0 15px;
    background: #fff;
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 200;
}

.header .subTit {
    font-size: 18px;
    color: #222;
    line-height: 50px;
    text-align: center;
    font-weight: 500;
}

.header .btnPrev {
    position: absolute;
    left: 0;
    top: 0;
    width: 46px;
    height: 50px;
    background: url(../images/btn/btn_prevPage.png) no-repeat center/auto 19px;
    text-indent: -9999em;
}

.contents {
    padding: 25px 16px 5px;
}

.contents .titW {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
}

.contents .tit {
    display: inline-block;
    font-size: 20px;
    color: #222;
    font-weight: 500;
}

.contents .subTit {
    margin-bottom: 10px;
    font-size: 16px;
    color: #222;
    font-weight: 500;
}

.contents .tag {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10px;
}

.contents .tag li,
.contents .tag a {
    font-size: 12px;
    color: #666;
}

.contents .tag li+li {
    margin-left: 8px;
}

.contents .section {
    padding: 30px 0;
}

.contents .section:first-child {
    padding-top: 0;
}

.contents .section+.section {
    border-top: 1px solid #dbdbdb;
}

.contents .subSection {
    padding-top: 30px;
}

.contents .txtBox {
    padding: 12px 15px;
    background: #eee;
    font-size: 14px;
    color: #666;
    line-height: 1.3;
    font-size: 14px;
}

.statusTxt {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ededed;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 16px;
    color: #222;
    text-align: center;
    font-weight: 500;
}

.targetRate {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 5px;
    margin-bottom: 15px;
}

.targetRate .day {
    width: 61px;
    height: 61px;
    border: 2px solid #0c9a6a;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: #0c9a6a;
    font-size: 14px;
    text-align: center;
    line-height: 61px;
    font-size: 500;
    letter-spacing: -1px;
}

.targetRate .day strong {
    font-size: 16px;
    font-weight: 500;
}

.targetRate .rate {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 10px;
}

.targetRate dl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    line-height: 18px;
}

.targetRate dt {
    margin-right: 8px;
    font-size: 14px;
    color: #222;
    font-weight: 500;
}

.targetRate .barPercent {
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ddd;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}

.targetRate .barPercent .bar {
    height: 100%;
    background: #0c9a6a;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}

.targetRate .percent {
    width: 35px;
    text-align: right;
    color: #0c9a6a;
    font-size: 14px;
    font-weight: 500;
}

.rankingRate {
    padding: 17px 5px 17px 15px;
    background: #eee;
}

.rankingRate dl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.rankingRate .ranking {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.rankingRate .ranking dl {
    margin-bottom: 15px;
    font-size: 12px;
}

.rankingRate .ranking dl+dl {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #dbdbdb;
}

.rankingRate .ranking dt {
    color: #666;
    margin-right: 3px;
}

.rankingRate .ranking dd {
    font-weight: 500;
    color: #222;
}

.targetBonus {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.targetBonus .rate {
    width: 125px;
    line-height: 16px;
}

.targetBonus .rate dl+dl {
    margin-top: 6px;
}

.targetBonus .rate dt {
    width: 25px;
    font-size: 12px;
    color: #222;
    font-weight: 500;
}

.targetBonus .rate dd {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    height: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

.targetBonus .targetPercent {
    background: #999;
}

.targetBonus .gainPercent .bar {
    height: 100%;
    background: #e6224c;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    text-indent: -9999em;
}

.targetBonus .bonusTxt {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 15px;
    margin-top: -1px;
    margin-left: 15px;
    background: url(../images/ico/ico_txt.png) no-repeat 0 5px/auto 9px;
    color: #222;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 500;
    letter-spacing: -1px;
}

.targetBonus .bonusTxt strong {
    color: #e6224c;
    font-weight: 500;
}

.chkCalendarW {
    padding-top: 20px;
}

.chkCalendarW .monthTxt {
    margin-bottom: 10px;
    font-size: 18px;
    color: #8c8c8c;
    font-weight: 500;
    letter-spacing: -1px;
    text-align: center;
}

.chkCalendarW .legendW {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 8px;
}

.chkCalendarW .btnDetail a {
    display: block;
    height: 15px;
    font-size: 12px;
    color: #222;
    font-weight: 500;
    line-height: 15px;
}

.chkCalendarW .btnDetail a:after {
    content: ">";
    display: inline-block;
    display: inline-block;
    width: 5.5px;
    height: 100%;
    margin-left: 6px;
    background: url(../images/ico/ico_arr01.png) no-repeat center/100% auto;
    text-indent: -9999em;
    vertical-align: top;
}

.chkCalendarW .icoTxt {
    display: inline-block;
    -moz-background-size: 100% auto !important;
    background-size: 100% auto !important;
    text-indent: -9999em;
}

.chkCalendarW .legend {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.chkCalendarW .legend dl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 15px;
}

.chkCalendarW .legend dd {
    margin-left: 5px;
    font-size: 12px;
    color: #222;
    font-weight: 500;
    line-height: 15px;
}

.chkCalendarW .legend .icoTxt {
    width: 15px;
    height: 15px;
}

.chkCalendarW .legend .icoTxt+.icoTxt {
    margin-left: 5px;
}

.chkCalendarW .legend .icoTxt.fitO {
    background: url(../images/ico/ico_fitO.png) no-repeat center;
}

.chkCalendarW .legend .icoTxt.fitX {
    background: url(../images/ico/ico_fitX.png) no-repeat center;
}

.chkCalendarW .legend .icoTxt.dietO {
    background: url(../images/ico/ico_dietO.png) no-repeat center;
}

.chkCalendarW .legend .icoTxt.dietX {
    background: url(../images/ico/ico_dietX.png) no-repeat center;
}

.calendarW {
    background: #f2f2f2;
    border: 1px solid #ececec;
}

.calendar {
    padding: 0 5px 10px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.calTbl {
    width: 100%;
}

.calTbl th {
    height: 27px;
    color: #d9d9d9;
    font-size: 12px;
    text-align: center;
}

.calTbl td {
    position: relative;
    padding: 10px 0;
    text-align: center;
}

.calTbl .day {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #f8f8f8;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    font-size: 13px;
    color: #888;
    line-height: 25px;
    text-align: center;
    text-indent: -2px;
}

.calTbl .chk {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;
}

.calTbl .icoTxt {
    width: 10px;
    height: 10px;
}

.calTbl .icoTxt+.icoTxt {
    margin-left: 2px;
}

.calTbl .icoTxt.fitO {
    background: url(../images/ico/ico_fitO_s.png) no-repeat center;
}

.calTbl .icoTxt.fitX {
    background: url(../images/ico/ico_fitX_s.png) no-repeat center;
}

.calTbl .icoTxt.dietO {
    background: url(../images/ico/ico_dietO_s.png) no-repeat center;
}

.calTbl .icoTxt.dietX {
    background: url(../images/ico/ico_dietX_s.png) no-repeat center;
}

.suggestion .info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 12px;
}

.suggestion .img {
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: 0 10px 0 5px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.suggestion .img img {
    width: 100%;
}

.suggestion .status {
    display: table;
}

.suggestion .status dl {
    display: table-row;
}

.suggestion .status dt,
.suggestion .status dd {
    display: table-cell;
    height: 28px;
    padding: 2px 0;
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
}

.suggestion .status dt {
    padding-right: 7px;
}

.suggestion .status dd span {
    display: inline-block;
    min-width: 20px;
    height: 26px;
    padding: 0 5px;
    border: 1px solid #dbdbdb;
    color: #e6224c;
    line-height: 26px;
    text-align: center;
}

.vodListW,
.photoListW {
    padding: 0 16px;
    margin: 0 -16px;
}

.vodListW a,
.photoListW a {
    overflow: hidden;
    display: block;
}

.vodList {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.vodList li {
    width: 130px;
}

.vodList .img {
    overflow: hidden;
    width: 130px;
    height: 80px;
    margin-bottom: 5px;
    background: #000;
}

.vodList .img img {
    width: 100%;
}

.vodList .txt {
    font-size: 12px;
    line-height: 1.3;
    color: #222;
}

.vodList .txt p {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.photoListW li {
    width: 100px;
}

.photoListW .img {
    overflow: hidden;
    width: 100px;
    height: 100px;
    background: #000;
}

.photoListW .img img {
    width: 100%;
}

.myFortueList li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 5px;
}

.myFortueList li+li {
    margin-top: 10px;
}

.myFortueList .img {
    overflow: hidden;
    width: 60px;
    height: 60px;
    background: #eee;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.myFortueList .img img {
    width: 100%;
}

.myFortueList dl {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-top: 4px;
    margin-left: 10px;
}

.myFortueList dt {
    margin-bottom: 3px;
    font-size: 14px;
    color: #222;
    font-weight: 500;
}

.myFortueList dd {
    font-size: 14px;
    color: #666;
    line-height: 1.3;
}

.fortuneList {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    maragin-top: -5px;
}

.fortuneList a {
    display: block;
}

.fortuneList .img {
    width: 104px;
    height: 144px;
    margin-bottom: 9px;
}

.fortuneList .img img {
    width: 100%;
}

.fortuneList p {
    height: 24px;
    font-size: 12px;
    margin: 0 7px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    text-align: center;
    line-height: 24px;
}

.fortuneList p:after {
    content: ">";
    display: inline-block;
    width: 5.5px;
    height: 100%;
    margin-left: 4px;
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
    text-indent: -9999em;
    vertical-align: top;
}

.fortuneList .fortune01 p {
    background: #f2c764;
    color: #222;
}

.fortuneList .fortune01 p:after {
    background-image: url(../images/ico/ico_arr01.png);
}

.fortuneList .fortune02 p {
    background: #b50616;
    color: #e3c17b;
}

.fortuneList .fortune02 p:after {
    background-image: url(../images/ico/ico_arr02.png);
}

.fortuneList .fortune03 p {
    background: #ff9500;
    color: #613900;
}

.fortuneList .fortune03 p:after {
    background-image: url(../images/ico/ico_arr03.png);
}

.bmiBox {
    width: -webkit-calc(100vw - 105px);
    width: -moz-calc(100vw - 105px);
    width: calc(100vw - 105px);
}

.bmiBox .tit {
    margin-bottom: 3px;
    font-size: 12px;
    color: #222;
    text-align: center;
    font-weight: 300;
}

.bmiBox .bmiTxt {
    color: #222;
    font-weight: 500;
    text-align: center;
}

.bmiBox .bmiTxt strong {
    font-weight: 500;
}

.bmiBox .txt {
    margin-top: 7px;
    font-size: 12px;
    color: #999;
    text-align: center;
}

.bmiBox .bmiProgress {
    position: relative;
}

.bmiBox .progress {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.bmiBox .progress .step {
    width: 20%;
}

.bmiBox .progress .num {
    display: block;
    height: 25px;
    color: #999;
    font-size: 12px;
}

.bmiBox .progress .bar {
    height: 15px;
}

.bmiBox .progress p {
    margin-top: 5px;
    text-align: center;
    font-size: 12px;
    color: #222;
}

.bmiBox .step:nth-child(1) .bar {
    background: #7da4bd;
    -webkit-border-radius: 15px 0 0 15px;
    -moz-border-radius: 15px 0 0 15px;
    border-radius: 15px 0 0 15px;
}

.bmiBox .step:nth-child(2) .bar {
    background: #557cd5;
}

.bmiBox .step:nth-child(3) .bar {
    background: #787ad6;
}

.bmiBox .step:nth-child(4) .bar {
    background: #ba78d9;
}

.bmiBox .step:nth-child(5) .bar {
    background: #f85264;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    border-radius: 0 15px 15px 0;
}

.bmiBox .dot {
    display: block;
    position: absolute;
    top: 25px;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 2px solid #000;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.bmiBox.bmi01 .bmiTxt strong {
    color: #7da4bd;
}

.bmiBox.bmi01 .dot {
    border-color: #7da4bd;
}

.bmiBox.bmi02 .bmiTxt strong {
    color: #557cd5;
}

.bmiBox.bmi02 .dot {
    border-color: #557cd5;
}

.bmiBox.bmi03 .bmiTxt strong {
    color: #787ad6;
}

.bmiBox.bmi03 .dot {
    border-color: #787ad6;
}

.bmiBox.bmi04 .bmiTxt strong {
    color: #ba78d9;
}

.bmiBox.bmi04 .dot {
    border-color: #ba78d9;
}

.bmiBox.bmi05 .bmiTxt strong {
    color: #f85264;
}

.bmiBox.bmi05 .dot {
    border-color: #f85264;
}

.exerciseBox {
    padding: 0 20px;
    margin: 15px 0 10px;
}

.exerciseBox .day {
    display: inline-block;
    min-width: 45px;
    height: 25px;
    padding: 0 7px;
    margin-bottom: 5px;
    background: #0c9a6a;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 25px;
    color: #fff;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.exerciseBox .exerciseList:after {
    content: "";
    display: block;
    clear: both;
}

.exerciseBox .exerciseList li {
    float: left;
    width: -webkit-calc((100% - 10px) / 2);
    width: -moz-calc((100% - 10px) / 2);
    width: calc((100% - 10px) / 2);
}

.exerciseBox .exerciseList li:nth-child(2n) {
    margin-left: 5px;
}

.exerciseBox .exerciseList li:nth-child(2)~li {
    margin-top: 5px;
}

.exerciseBox.add {
    margin-top: 0;
}

.exerciseList a {
    position: relative;
    display: block;
}

.exerciseList a:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 38px;
    height: 38px;
    margin: -19px 0 0 -19px;
    background: url(../images/btn/btn_vod.png) no-repeat center/100% auto;
}

.exerciseList .img {
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.exerciseList .img img {
    width: 100%;
}

.makeupBox {
    padding: 0 20px;
    margin: 15px 0 10px;
}

.makeupBox .makeupList:after {
    content: "";
    display: block;
    clear: both;
}

.makeupBox .makeupList li {
    float: left;
    width: -webkit-calc((100% - 10px) / 2);
    width: -moz-calc((100% - 10px) / 2);
    width: calc((100% - 10px) / 2);
}

.makeupBox .makeupList li:nth-child(2n) {
    margin-left: 5px;
}

.makeupBox .makeupList li:nth-child(2)~li {
    margin-top: 5px;
}

.makeupBox .img {
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.makeupBox .img img {
    width: 100%;
}

.boxTxt {
    height: 24px;
    background: #fff;
    border: 1px solid #0c9a6a;
    line-height: 24px;
    color: #0c9a6a;
    text-align: center;
}

.foodBox {
    padding: 0 20px;
    margin: 10px 0;
}

.foodBox .foodList {
    overflow: hidden;
}

.foodBox .foodList+.foodList {
    margin-top: 15px;
}

.foodBox .foodList li {
    float: left;
    width: -webkit-calc((100% - 10px) / 3);
    width: -moz-calc((100% - 10px) / 3);
    width: calc((100% - 10px) / 3);
}

.foodBox .foodList li+li {
    margin-left: 5px;
}

.foodList dt {
    height: 25px;
    background: #0c9a6a;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 25px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.foodList .img {
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.foodList .img img {
    width: 100%;
}

.foodList .boxTxt {
    margin-top: 5px;
}

.slideListW .exerciseList li {
    width: 165px;
}

.slideListW .foodList li {
    width: 108px;
}

.linkTxt.onlyTxt {
    padding-top: 15px;
    text-align: center;
}

.linkTxt a {
    display: inline-block;
    padding-bottom: 1px;
    border-bottom: 1px solid #0c9a6a;
    color: #0c9a6a;
    font-size: 14px;
    font-weight: 500;
}

.linkTxt a:after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 11px;
    margin-left: 6px;
    background: url(../images/ico/ico_txtArr.png) no-repeat center/6px auto;
}

.lunchBox {
    padding-right: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.lunchBox .img {
    overflow: hidden;
    height: 108px;
    margin-right: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.lunchBox .img img {
    height: 100%;
}

.lunchBox .detail {
    position: relative;
    width: -webkit-calc(100% - 118px);
    width: -moz-calc(100% - 118px);
    width: calc(100% - 118px);
    min-height: 108px;
    padding: 5px 0 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.lunchBox dt {
    margin-bottom: 5px;
    font-size: 16px;
    color: #222;
    font-weight: 500;
}

.lunchBox dd {
    font-size: 14px;
    color: #222;
    line-height: 1.4;
}

.lunchBox .linkTxt {
    position: absolute;
    left: 0;
    bottom: 5px;
}

.statusBox {
    padding: 0 20px;
    margin: 15px 0;
}

.statusBox button,
.statusBox .txt {
    display: block;
    width: 100%;
    height: 40px;
    background: #fff;
    border: 1px solid #0c9a6a;
    font-size: 14px;
    color: #0c9a6a;
    line-height: 38px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.statusBox button:before,
.statusBox .txt:before {
    content: "";
    display: inline-block;
    height: 100%;
    margin-right: 8px;
    vertical-align: top;
}

.statusBox .refresh:before {
    width: 17px;
    background: url(../images/ico/ico_refresh.png) no-repeat center/100% auto;
}

.statusBox .calc:before {
    width: 18px;
    background: url(../images/ico/ico_calc.png) no-repeat center/100% auto;
}

.statusBox .analysis:before {
    width: 19px;
    background: url(../images/ico/ico_analysis.png) no-repeat center/100% auto;
}

.statusBox .cosmetic:before {
    width: 19px;
    background: url(../images/ico/ico_cosmetic.png) no-repeat center/100% auto;
}

.statusBox .body:before {
    width: 17px;
    background: url(../images/ico/ico_body.png) no-repeat center/100% auto;
}

.fitBox,
.fitSingleBox {
    padding: 0 20px;
}

.fitBox {
    margin-bottom: 10px;
}

.fitSingleBox {
    margin-bottom: 5px;
}

.fitList,
.fitSingle {
    overflow: hidden;
    padding: 16px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.fitList dt,
.fitSingle dt {
    overflow: hidden;
    width: 43px;
    margin: 0 auto 6px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.fitList dt img,
.fitSingle dt img {
    width: 100%;
}

.fitList .txt,
.fitSingle .txt {
    font-size: 14px;
    color: #222;
    font-weight: 500;
}

.fitList .date,
.fitSingle .date {
    margin-top: 5px;
    font-size: 12px;
    color: #666;
}

.fitList li {
    float: left;
    width: 25%;
    text-align: center;
}

.fitList li>* {
    margin: 0 auto;
}

.fitList li:nth-child(4)~li {
    margin-top: 20px;
}

.fitList a {
    display: block;
}

.fitSingle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.fitSingle dl {
    width: 25%;
    text-align: center;
}

.fitSingle .choiceList {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 20px;
}

.fitSingle .choiceList:after {
    content: "";
    display: block;
    clear: both;
}

.fitSingle .choiceList li {
    float: left;
    width: -webkit-calc(50% + 1px);
    width: -moz-calc(50% + 1px);
    width: calc(50% + 1px);
    margin-left: -1px;
}

.fitSingle .choiceList li:nth-child(2)~li {
    margin-top: -1px;
}

.fitSingle .choiceList a,
.fitSingle .choiceList button {
    width: 100%;
    height: 40px;
    border: 1px solid #0c9a6a;
    line-height: 38px;
    color: #0c9a6a;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fitSingle .choiceList a.on,
.fitSingle .choiceList button.on {
    background: #0c9a6a;
    color: #fff;
}

.mapBox {
    padding: 0 20px;
    margin: 10px 0 25px;
}

.mapBox .map {
    overflow: hidden;
    width: 240px;
    height: 150px;
    background: #fff;
    border: 1px solid #dbdbdb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.mapBox .map img {
    width: 100%;
}

.mapCtrnBox {
    overflow-x: auto;
    width: 100%;
    background: #0c9a6a;
    -webkit-overflow-scrolling: touch;
}

.mapCtrnBox ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 8px;
}

.mapCtrnBox li {
    position: relative;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.mapCtrnBox li+li {
    padding-left: 1px;
}

.mapCtrnBox li+li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 12px;
    margin-top: -6px;
    background: #55b897;
}

.mapCtrnBox a,
.mapCtrnBox button {
    display: block;
    padding: 0 12px;
    color: #fff;
    line-height: 40px;
}

.emoticonBox {
    margin: 25px 0;
}

.emoticonBox .img {
    text-align: center;
}

.uploadBox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px;
    margin: 10px 0 15px;
}

.uploadBox .fileBtn {
    width: 80px;
    height: 80px;
}

.uploadBox .fileBtn button {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 38px;
    background: #fff url(../images/ico/ico_imgPhoto.png) no-repeat center 9px/21px auto;
    border: 1px solid #0c9a6a;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    color: #0c9a6a;
    line-height: 1.3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.uploadBox .txtBox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: -webkit-calc(100% - 87px);
    width: -moz-calc(100% - 87px);
    width: calc(100% - 87px);
    height: 80px;
    padding: 15px;
    margin-left: 7px;
    background: #cfe9e6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
    color: #222;
    line-height: 1.4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.couponBox {
    padding-top: 10px;
}

.couponBox a {
    display: block;
}

.faceAnalysisBox,
.bodyAnalysisBox {
    padding: 0 20px;
    margin: 15px 0 20px;
}

.faceAnalysisBox .faceAnalysis,
.faceAnalysisBox .bodyAnalysis,
.bodyAnalysisBox .faceAnalysis,
.bodyAnalysisBox .bodyAnalysis {
    height: 210px;
    background: #f1bebe;
}

.prodBox {
    padding-right: 20px;
    margin-top: 15px;
}

.prodBox+.prodBox {
    margin-top: 20px;
}

.prodBox .tit {
    margin-bottom: 8px;
    font-size: 16px;
    color: #222;
    font-weight: 500;
}

.prodList:after {
    content: "";
    display: block;
    clear: both;
}

.prodList li {
    float: left;
    width: -webkit-calc((100% - 20px) / 3);
    width: -moz-calc((100% - 20px) / 3);
    width: calc((100% - 20px) / 3);
    margin-right: 10px;
}

.prodList li:nth-child(3n) {
    margin-right: 0;
}

.prodList li:nth-child(3)~li {
    margin-top: 15px;
}

.prodList a {
    display: block;
}

.prodList .img {
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.prodList .img img {
    width: 100%;
}

.prodList dt,
.prodList dd {
    font-size: 14px;
    color: #222;
}

.prodList dt {
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.prodList dd {
    margin-top: 5px;
    font-weight: 500;
}

.layerPop {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.popCon {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 15px 15px 20px;
    background: #fff;
}

.popCon .chatBox {
    padding: 0 15px;
    margin: 0;
}

.popCon .chatbotBox {
    padding: 0;
    margin-bottom: 15px;
}

.popCon .chatBox .box {
    -webkit-box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1), -2px -2px 7px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1), -2px -2px 7px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1), -2px -2px 7px rgba(0, 0, 0, 0.1);
}

.popCon .vodList {
    padding: 15px 0 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.popCon .vodList li+li {
    margin-left: 10px;
}

.popCon .btnClose {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 24px;
    height: 25px;
    background: url(../images/btn/btn_popClose.png) no-repeat center/14px auto;
    text-indent: -9999em;
}

.popHeader {
    position: relative;
    margin-bottom: 8px;
}

.popHeader .popTit {
    height: 28px;
    font-size: 20px;
    color: #222;
    line-height: 28px;
    text-align: center;
    font-weight: 500;
}

.popHeader .btnClose {
    top: 2px;
    right: 0;
}

.popContent {
    overflow-y: auto;
    max-height: -webkit-calc(100vh - 170px);
    max-height: -moz-calc(100vh - 170px);
    max-height: calc(100vh - 170px);
    padding: 0 15px;
    margin: 0 -15px;
    -webkit-overflow-scrolling: touch;
}

.popContent.accContent {
    height: 400px;
}

.prodDetail .img {
    overflow: hidden;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.prodDetail .img img {
    width: 100%;
}

.prodDetail .prodName {
    padding-left: 5px;
    font-size: 16px;
    color: #222;
    font-weight: 500;
}

.prodDetail .color {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 2px;
    margin: 7px 0 18px;
}

.prodDetail .color span {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-left: 4px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    text-indent: -9999em;
}

.prodDetail .price {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 12px;
    font-size: 12px;
}

.prodDetail .price dt {
    width: 70px;
    padding-left: 5px;
}

.prodDetail .price dd {
    font-weight: 500;
}

.prodDetail .price .dc {
    font-weight: 300;
}

.prodDetail .btnW {
    margin-top: 15px;
}

.prodDetail .btnW>* {
    display: block;
}

.prodDetail .btnW>*+* {
    margin-top: 10px;
}

.prodDetail .btnL {
    height: 45px;
    background: #0c9a6a;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 45px;
    font-weight: 500;
}

.prodDetail .btnLine {
    height: 40px;
    border: 1px solid #dbdbdb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 12px;
    color: #222;
    text-align: center;
    line-height: 38px;
    font-weight: 500;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.prodDetail .down:after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 100%;
    margin-left: 7px;
    background: url(../images/ico/ico_down.png) no-repeat center/auto 14px;
    vertical-align: top;
}

.fitDetailList {
    padding: 10px 0;
}

.fitDetailList li {
    padding: 20px;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 8px;
}

.fitDetailList li+li {
    margin-top: 10px;
}

.fitDetailList dt {
    margin-bottom: 15px;
    font-size: 14px;
    color: #1a1a1a;
    font-weight: 500;
}

.fitDetailList dd {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.fitDetailList .img {
    width: 35px;
}

.fitDetailList .img img {
    width: 100%;
}

.fitDetailList .txt {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 10px;
    font-size: 12px;
    color: #999;
    line-height: 1.5;
}

.accListW h2 {
    height: 37px;
}

.accListW h2 a {
    position: relative;
    display: block;
    height: 100%;
    padding: 0 12px;
    background: #e2e2e2;
    font-size: 14px;
    color: #222;
    font-weight: 500;
    line-height: 37px;
}

.accListW h2 a:after {
    content: "";
    position: absolute;
    top: 16px;
    right: 10px;
    display: block;
    width: 14px;
    height: 9px;
    background: url(../images/ico/ico_accArr.png) no-repeat center/100% auto;
}

.accListW .viewBox {
    display: none;
}

.accListW .accBox+.accBox {
    margin-top: 1px;
}

.accListW .accBox.on h2 a:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.accListW .accBox.on .viewBox {
    display: block;
}

.accListW .box01 {
    padding: 8px 12px;
    background: #fdfbca;
    font-size: 12px;
    color: #222;
    line-height: 1.5;
}

.accListW .box02 {
    padding: 8px 12px;
    background: #f9f9f9;
    font-size: 12px;
    color: #222;
    line-height: 1.5;
}

.accListW h3 {
    padding-top: 8px;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 500;
}

.coupleFitW .coupleZodiac {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 270px;
    margin: 0 auto 15px;
    background: url(../images/ico/ico_heart.png) no-repeat center/25px auto;
}

.coupleFitW .coupleZodiac .img {
    width: 100px;
}

.coupleFitW .coupleZodiac .img img {
    width: 100%;
}

.coupleFitW .choiceList {
    margin: 1px 0 20px 1px;
}

.coupleFitW .choiceList:after {
    content: "";
    display: block;
    clear: both;
}

.coupleFitW .choiceList li {
    float: left;
    width: -webkit-calc(50% + 1px);
    width: -moz-calc(50% + 1px);
    width: calc(50% + 1px);
    margin-left: -1px;
    margin-top: -1px;
}

.coupleFitW .choiceList a,
.coupleFitW .choiceList button {
    width: 100%;
    height: 40px;
    border: 1px solid #0c9a6a;
    line-height: 38px;
    color: #0c9a6a;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.coupleFitW .choiceList a.on,
.coupleFitW .choiceList button.on {
    background: #0c9a6a;
    color: #fff;
}

.coupleFitW .txt {
    padding: 12px 15px;
    background: #eee;
    line-height: 1.2;
    font-size: 14px;
    color: #666;
}

.zodiacList {
    height: 100px;
    padding-left: -webkit-calc((100% - 100px) / 2);
    padding-left: -moz-calc((100% - 100px) / 2);
    padding-left: calc((100% - 100px) / 2);
    margin-bottom: 15px;
}

.zodiacList li {
    position: relative;
    width: 80px;
    height: 80px;
    margin-top: 10px;
    opacity: 0.3;
}

.zodiacList li .img {
    overflow: hidden;
    width: 80px;
    height: 80px;
}

.zodiacList li img {
    width: 100%;
    height: 100%;
}

.zodiacList li.swiper-slide-active {
    width: 100px;
    height: 100px;
    margin: 0;
    opacity: 1;
}

.zodiacList li.swiper-slide-active .img {
    width: 100px;
    height: 100px;
}

.zodiacList .btnW button {
    position: absolute;
    top: 50%;
    display: block;
    width: 19px;
    height: 28px;
    margin-top: -14px;
    text-indent: -9999em;
    z-index: 10;
}

.zodiacList .btnW .btnPrev {
    right: 50%;
    margin-right: 60px;
    background: url(../images/btn/btn_swiperArr_l.png) no-repeat center/9px auto;
}

.zodiacList .btnW .btnNext {
    left: 50%;
    margin-left: 60px;
    background: url(../images/btn/btn_swiperArr_r.png) no-repeat center/9px auto;
}